


.footerBg
{
    background-color: rgb(44,62,80) !important;
}

h2
{
    font-size: 26px !important;
    margin-top: 25px;
    margin-bottom: 20px;
}

.icon
{
    background-color: transparent !important;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid white;
}

.icon:hover
{
    background-color: white !important;
    color: black;
    cursor: pointer;

}
i
{
    font-size: 27px;
}
.bottomOfPage
{
    background-color: rgb(26,37,47);
}

.footer_width
{
    width: 80%;
}

@media screen and (min-width:800px) {
    
    .text_header
    {
        font-size: 25px !important;
    }
}